@import "./optionsUser.css" ;
.Notify {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

.Notification {
  background-color: #442200;
  position: fixed;
  height: 20em;
  top: 4em;
  left: 1em;
}


.NotifyButton {
  display: flex;
}
.ButtonNotify {
  position:absolute;
  background-color: #555555;
  cursor: pointer;
  left: 1354px;
  top: 48px;

  width: 1em;
  height: 1em;
  margin-right: 1em;
  text-align: center;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.5em;
}

