.HeaderUser{
  margin: 0.5em;
  display: flex;
}
.HUAvatar{
  border-radius: 50%;
  cursor: pointer;
}
.HeaderCreate{
  padding-left: 2em;
  position: relative;
  top: 1em;
}
.HCS{
  background-color: #00aaaa;
  border-radius: 20%;
}

.HeaderNotify{
  background-color: #005555;
}
