@import "./acctions.css";
@import "./create.css";

.PostB{
  background-color: #03071e;
  width: 60em;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 1em;
}
.Post{
  position: relative;
  width: 60em;
}
.Post-Top {
  display: flex;
}
.Post-Author {
  padding: 0.2em;
  color: #00aa77;
  font-family: 'Courier New', monospace;
  font-size: 0.9em;

}
.Post-Options {
  background-color: #004520;
  
  width: 1.5em;
  height: 1.5em;
}

.Post-Body {
  display: block;
}
.Post-Text{
  background-color: #03272e;
  padding: 0.5em;
  font-family: 'Courier New', monospace;
  color: #00a7a7 ;
  border-radius: 0.3em;
}
.Post-Image{
  background-color: #00aa00;
}


.Post-Bottom {
  background-color: inherit ;
}

