@import "./user/main.css" ;
@import "./search/main.css" ;
@import "./navigation/main.css" ;
/* base Top page */ 
.Top {
  background-color: #03071e;
  padding: 2%  1%  1%  1% ;
  display: flex;
  justify-content: space-between ;
} 
